<h1>Event List</h1>
<% if user_signed_in? %>
    <%= link_to 'Add new event', new_event_path %>
<% end %>

<ul>
    <% @events.each do |event| %>
        <li><%= link_to event.name, event %></li>
    <% end %>
</ul>